<section id="header"
         ng-controller="coreMainHeaderController"
         ng-include="'modules/core/views/header.html'"
         class="{{main.settings.navbarHeaderColor}}">
</section>

<div id="controls">
	<aside id="sidebar"
	       ng-controller="coreMainNavController"
	       ng-include="'modules/core/views/sidebar-izq.html'"
	       class="{{main.settings.sidebarColor}}"
	       ng-class="{'aside-fixed':main.settings.asideFixed}">
	</aside>
</div>

<div class="view-container"
     ui-view-container>
	<section ui-view
	         id="content"
	         autoscroll="false">
	</section>
</div>