<!-- modo EDIT -->
<div ng-if="line.$estado.$isOpen && !column.readOnly">
    <!-- debug  <pre>pre: {{line[key]}}</pre>-->

    <!-- autocomplete -->
    <div ng-if="type.datatype=='autocomplete'"
         class="form-validation">
        <input ng-model="buffer.tmpInput"
               type="text"
               style="width: 100%;"
               placeholder="búsqueda por RUT o nombre"
               uib-typeahead="x.RUT as x.searchString for x in (column.source($viewValue))"
               typeahead-loading="loadingLocations"
               typeahead-no-results="noResults"
               ng-required="column.required"
               ng-disabled="(line.$estado.$action!='N' && column.readOnly) || !line.$estado.$isOpen"
               typeahead-editable="false"
               class="{{line.$estado.$isOpen?'':'b-0 bg-white'}} rndinput form-control {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}">

        <md-progress-linear ng-show="loadingLocations"
                            md-mode="indeterminate"
                            ng-disabled="true">
        </md-progress-linear>

        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i>No se encontraron resultados
        </div>

    </div>
    <!-- /autocomplete -->

    <!-- rtabla -->
    <div ng-if="type.datatype=='rtabla'"
         class="form-validation"
         uib-dropdown>
        <!-- ojo, la flecha debe coincidir con _SEPARATOR_ de filters.js -->
        <select ng-model="buffer.tmpInput"
                style="width: 100%;"
                ng-click="$event.stopPropagation()"
                class="pl-0 pr-0 rndinput form-control {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}"
                ng-disabled="line.$estado.$action!='N' &&  column.readOnly"
                ng-required="column.required"
                ng-options="item[column.options.returnClient]+( column.options.addClient?('➙'+item[column.options.addClient[0]]):''   ) for item in _rtablas[column.tabla].data track by item[column.options.returnClient]">
        </select>
    </div>
    <!-- /rtabla -->

    <!-- date -->
    <div ng-if="type.datatype=='date'">
        <div class="form-validation">
            <p class="input-group mb-0">

                <!-- icono -->
                <span class="input-group-btn pl-10 pr-10 xrnd-b text-center"
                      style="margin-top: 2px; margin-bottom: 2px;">
                    <button type="button"
                            style="float:none; text-align:right;"
                            class="p-0 b-0 btn"
                            ng-click="dateCtrl.toggleOpen(); $event.stopPropagation()">
                        <i class="glyphicon glyphicon-calendar">
                        </i>
                    </button>
                </span>
                <!-- /icono -->

                <!-- fecha indefinida -->
                <span style="float:right; width:80%"
                      class="pl-2 pr-2 form-control rndinputd"
                      ng-if="dateCtrl.isDateInfinite">{{line[key]|monitor:column }}
                </span>
                <!-- /fecha infinita -->

                <input ng-model="buffer.tmpInput"
                       ng-if="!dateCtrl.isDateInfinite"
                       ng-click="$event.stopPropagation()"
                       type="text"
                       style="float:left; padding-right:4px; padding-left:4px; text-align:right;"
                       class="rndinputd form-control {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}"
                       uib-datepicker-popup="{{dateCtrl.format}}"
                       ng-model-options="{timezone: 'utc'}"
                       is-open="dateCtrl.isOpen"
                       datepicker-options="dateOptions"
                       ng-required="column.required"
                       close-text="cerrar"
                       alt-input-formats="dateCtrl.altInputFormats"
                       datepicker-append-to-body="true"
                       datepicker-popup-template-url="modules/core/directives/rndInput-date.html" />



            </p>
        </div>
    </div>
    <!-- /date -->

    <!-- numérico -->
    <div ng-if="type.datatype=='number'||type.datatype=='currency'"
         class="form-validation">
        <input ng-model="buffer.tmpInput"
               type="number"
               style="width: 95%; padding-right:0px; float:none;"
               uib-tooltip="{{line.$estado[key].$message}}"
               tooltip-class="danger"
               ng-click="$event.stopPropagation()"
               class="rndinput form-control text-right {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}"
               ng-disabled="line.$estado.$action!='N' &&  column.readOnly"
               ng-required="column.required">
    </div>
    <!-- /numérico -->

    <!-- texto -->
    <div ng-if="type.datatype=='string'"
         class="form-validation">
        <input ng-model="buffer.tmpInput"
               type="text"
               ng-click="$event.stopPropagation()"
               style="width: 95%;"
               uib-tooltip="{{line.$estado[key].$message}}"
               ng-readonly="(column.readOnly && (column.pk && lineMeta.$action!='N' ))  || !line.$estado.$isOpen"
               ng-required="column.required"
               class="pl-4 pr-4 rndinput form-control rnd-input-cell {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}">
    </div>
    <!-- /texto -->

</div>
<!-- /modo EDIT -->

<!-- modo READ -->
<span ng-if="(!line.$estado.$isOpen || column.readOnly) && type.datatype!='dialog'"
      class="m-5"
      ng-class="type.datatype=='number'?'mr-20':''"
      ng-click="cellClick(line,column,source)">
    {{line[key]| monitor:column:rtablas}}
</span>
<!-- /modo READ -->

<!-- Estado -->
<div ng-if="type.datatype=='dialog'"
     class="form-validation">
    <rnd-estado line="line"></rnd-estado>
</div>
<!-- /Estado -->