<!-- modo EDIT -->
<div ng-if="line.$estado.$isOpen && !column.readOnly"
     class="rnd-input-open">
    <!-- debug  <pre>pre: {{line[key]}}</pre>-->

    <!-- autocomplete -->
    <div ng-if="type.datatype=='autocomplete' && false"
         class="form-validation">
        <input ng-model="buffer.tmpInput"
               type="text"
               style="width: 100%;"
               placeholder="búsqueda por RUT o nombre"
               uib-typeahead="x.RUT as x.searchString for x in (column.source($viewValue))"
               typeahead-loading="loadingLocations"
               typeahead-no-results="noResults"
               ng-required="column.required"
               ng-disabled="(line.$estado.$action!='N' && column.readOnly) || !line.$estado.$isOpen"
               typeahead-editable="false"
               class="{{line.$estado.$isOpen?'':'b-0 bg-white'}} rndinput form-control {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}">

        <md-progress-linear ng-show="loadingLocations"
                            md-mode="indeterminate"
                            ng-disabled="true">
        </md-progress-linear>

        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i>No se encontraron resultados
        </div>

    </div>
    <!-- /autocomplete -->

    <!-- lookup -->
    <div ng-if="type.datatype=='lookup' "
         class="form-validation"
         uib-dropdown>
        <!-- ojo, la flecha debe coincidir con _SEPARATOR_ de filters.js -->
        <select ng-model="buffer.tmpInput"
                style="width: 100%;"
                ng-click="$event.stopPropagation()"
                ng-blur="cellBlur(line,column,source)"
                class="pl-0 pr-0 rndinput form-control {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}"
                ng-disabled="line.$estado.$action!='N' &&  column.readOnly"
                ng-required="column.required"
                ng-options="item[column.options.returnClient]+( column.options.addClient?('➙'+item[column.options.addClient[0]]):'' ) for item in meta[column.tabla] track by item[column.options.returnClient]">
        </select>
    </div>
    <!-- /lookup -->


    <!-- rtabla -->
    <div ng-if="type.datatype=='rtabla' "
         class="form-validation"
         uib-dropdown>
        <!-- ojo, la flecha debe coincidir con _SEPARATOR_ de filters.js -->
        <select ng-model="buffer.tmpInput"
                style="width: 100%;"
                ng-click="$event.stopPropagation()"
                class="pl-0 pr-0 rndinput form-control {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}"
                ng-disabled="line.$estado.$action!='N' &&  column.readOnly"
                ng-required="column.required"
                ng-options="item[column.options.returnClient]+( column.options.addClient?('➙'+item[column.options.addClient[0]]):''   ) for item in _rtablas[column.tabla].data track by item[column.options.returnClient]">
        </select>
    </div>
    <!-- /rtabla -->

    <!-- date -->
    <div ng-if="type.datatype=='date'">
        <div class="form-validation">
            <p class="mb-0"
               style="display:flex;">
                <!-- fecha indefinida -->
                <span class="form-control rndinput rnd-input-open-text {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}"
                      ng-if="dateCtrl.isDateInfinite"
                      ng-click="dateCtrl.setToday()">
                    {{line[key]|monitor:column }}
                </span>
                <!-- /fecha infinita -->
                <!-- input -->
                <input ng-model="buffer.tmpInput"
                       ng-show="!dateCtrl.isDateInfinite"
                       ng-click="$event.stopPropagation()"
                       type="text"
                       ng-keydown="keydown($event)"
                       style="display:inline-block;"
                       ng-mouseenter="dateCtrl.openDeferred();"
                       ng-mouseleave="dateCtrl.closeDeferred();"
                       class="{{id}} form-control rndinput rnd-input-open-numeric text-right {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}"
                       uib-datepicker-popup="{{dateCtrl.format}}"
                       ng-model-options="{timezone: 'utc'}"
                       is-open="dateCtrl.isOpen"
                       datepicker-options="dateOptions"
                       ng-required="column.required"
                       close-text="cerrar"
                       alt-input-formats="dateCtrl.altInputFormats"
                       datepicker-append-to-body="true"
                       datepicker-popup-template-url="modules/core/directives/rndInput-date.html" />
                <!-- /input -->
            </p>
        </div>
    </div>
    <!-- /date -->

    <!-- numérico -->
    <div ng-if="(type.datatype=='number'||type.datatype=='currency')"
         class="form-validation">
        <input ng-model="buffer.tmpInput"
               type="number"
               uib-tooltip="{{line.$estado[key].$message}}"
               tooltip-class="danger"
               ng-click="$event.stopPropagation()"
               class="form-control rndinput rnd-input-open-numeric text-right {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}"
               ng-disabled="line.$estado.$action!='N' &&  column.readOnly"
               ng-required="column.required">
    </div>
    <!-- /numérico -->

    <!-- texto -->
    <div ng-if="type.datatype=='string'"
         class="form-validation">
        <input ng-model="buffer.tmpInput"
               type="text"
               ng-click="$event.stopPropagation()"
               uib-tooltip="{{line.$estado[key].$message}}"
               ng-readonly="(column.readOnly && (column.pk && lineMeta.$action!='N' ))  || !line.$estado.$isOpen"
               ng-required="column.required"
               class="form-control rndinput rnd-input-open-text {{cellMeta.$dirty?'ng-dirty':''}} {{cellMeta.$invalid?'htInvalid':''}}">
    </div>
    <!-- /texto -->

</div>
<!-- /modo EDIT -->

<!-- modo READ : columna no numérica-->
<span ng-if="(!line.$estado.$isOpen || column.readOnly) && type.datatype!='$estado' && type.datatype!='number'"
      class="pr-5 pl-5 {{column.onClick?'rnd-btn btn-border btn-rounded':''}} {{column.icon?column.icon:''}}"
      uib-tooltip="{{column.description||column.name}}"
      ng-click="cellClick(line,column,source)"
      tabindex="-1">{{line[key]| monitor:column:meta}}</span>
<!-- modo READ : otras columnas -->
<span ng-if="(!line.$estado.$isOpen || column.readOnly) && type.datatype!='$estado' && type.datatype=='number'"
      class="pr-5 pl-5 {{column.onClick?'rnd-btn btn-border btn-rounded':''}} {{column.icon?column.icon:''}} mr-20"
      uib-tooltip="{{column.description||column.name}}"
      ng-click="cellClick(line,column,source)"
      tabindex="-1">{{line[key]| monitor:column:meta}}</span>
<!-- /modo READ -->

<!-- Estado -->
<div ng-if="type.datatype=='$estado'"
     class="form-validation text-center">
    <rnd-estado line="line"></rnd-estado>
</div>
<!-- /Estado -->