
<div ng-if="options.title">
    <p class="text-uppercase text-strong mb-0 custom-font">
        <span ng-bind-html="options.title | trust"></span>
    </p>
</div>

<md-progress-linear ng-if="source.busy"
                    md-mode="indeterminate"
                    ng-disabled="true">
</md-progress-linear>

<div style="overflow:auto; {{options.pageheight?'height:'+((options.pageheight*21)+40+33+33)+'px;':''}}"
     class="{{source.busy?'busy':''}}">
    <table st-safe-src="source.data"
           st-table="displayedCollection"
           ng-keydown="pressed($event)"
           class="st-table table-condensed table table-custom table-hover dt-responsive headerdark table-bordered inputable {{id}}">

        <!-- create row -->
        <tfoot ng-show="!source.$offline && (dialog.canCreate || !source.data.length) ">
            <tr>
                <td colspan="500"
                    class="text-center">
                    <div>
                        <h3 ng-if="!source.data.length"
                            class="m-10 text-default lt ">{{options.showEmpty}}</h3>
                        <h4 ng-if="dialog.canCreate"
                            ng-click="api.addRow()"
                            class="m-5 text-default lt">
                            <i class="fa fa-plus-circle"></i> {{options.textCreate}}</h4>
                    </div>
                </td>
            </tr>
        </tfoot>
        <!-- /create row -->

        <!-- column headers -->
        <thead class="">
            <tr>
                <th ng-repeat="m in meta.data | filter: {visible:true}"
                    st-sort="{{m.field}}"
                    style="{{m.length?'':'x-'}}width:{{m.length||1}}%;"
                    class="text-center"
                    ng-click="api.redraw()">
                    {{m.name}}
                </th>
            </tr>
        </thead>
        <!-- /column headers -->

        <!-- paginación -->
        <thead ng-if="options.pagesize < source.data.length && options.pagesize"
               class="table-head-pagination">
            <tr>
                <td colspan="500"
                    class="text-center">
                    <div st-pagination=""
                         st-page-change="api.redraw()"
                         st-template="rndSmtable.pagination.html"
                         st-items-by-page="options.pagesize"
                         st-displayed-pages="3">
                    </div>
                </td>
            </tr>
        </thead>
        <!-- /paginación -->

        <tbody class="rnd-gray shadow-b ">
            <tr ng-if="isLineVisible(fila)"
                st-select-row="dialog.selectRow?fila:''"
                ng-click="selectRow(fila)"
                ng-repeat="fila in displayedCollection track by fila.$estado.$id||$index ">
                <td ng-repeat="m in meta.data | filter: {visible:true}"
                    class="text-{{m | alignment}}"
                    style="vertical-align:middle; ">
                    <rnd-input ng-if="!blink && m.datatype!='rnd-profile' &&  m.datatype!='rnd-smtable' "
                               source="source"
                               line="fila"
                               key="m.field"
                               meta="meta"
                               rtablas="rtablas"
                               dialog="dialog">
                    </rnd-input>
                    <rnd-profile ng-if="!blink && m.datatype=='rnd-profile'"
                                 meta="m.options.meta"
                                 options="{}"
                                 source="{data:[fila[m.field]]}">
                    </rnd-profile>
                    <rnd-smtable ng-if="!blink && m.datatype=='rnd-smtable'"
                                 meta="m.options.meta.data"
                                 options="{}"
                                 dialog="m.options.dialog"
                                 source="{data:fila[m.field]}">
                    </rnd-smtable>
                </td>

                <!--<pre ng-if="!blink && m.datatype=='table'">{{fila[m.field]}}</pre>
                    <pre ng-if="!blink && m.datatype=='table'">{{m.options.meta.data}}</pre>->
                
            </tr>
        </tbody>

        <!-- offline -->
                <tfoot ng-if="source.$offline">
                    <tr>
                        <td colspan="500"
                            class="text-center">
                            <div>
                                <h3 class="m-10 text-danger busy">
                                    <i class="fa fa-exclamation-triangle"></i> Error de conexión</h3>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <!-- offline -->

    </table>
</div>

<script type="text/ng-template"
        id="rndSmtable.pagination.html">

    <div class="text-left"
         ng-if="pages.length >= 2">
        <span class="text-xs mr-10">Página {{currentPage}} de {{numPages}} </span>
        <ul class="pagination">

            <!-- retroceder -->
            <li class="text-xs table-previous-page">
                <a ng-disabled="currentPage < 2"
                   ng-click="selectPage(currentPage - 1)">&lt;</a>
            </li>

            <!-- mostrar primera -->
            <li class="text-xs table-first-page" ng-class="{active: currentPage==1}">
                <a ng-disabled="currentPage == 1"
                   ng-click="selectPage(1)">1
                </a>
            </li>

            <!-- bloque de la actual -->
            <li class="text-xs" ng-if="numPages > 4 && currentPage > 3"><a ng-disabled="true">...</a></li>
            <li class="text-xs" ng-repeat="page in pages"
                ng-if="page > (currentPage-4) && page < (currentPage+4) && (page > 1) && (page < numPages)"
                ng-class="{active: page==currentPage}">
                <a ng-click="selectPage(page)">{{page}}</a>
            </li>
            <li class="text-xs" ng-if="numPages > 4 && currentPage <  numPages - 2"><a ng-disabled="true">...</a></li>

            <!-- mostrar última página -->
            <li class="text-xs table-last-page" ng-class="{active: currentPage==numPages}">
                <a ng-disabled="currentPage == numPages"
                   ng-click="selectPage(numPages)">{{numPages}}
                </a>
            </li>

            <!-- avanzar -->
            <li class="text-xs  table-next-page">
                <a class="" ng-disabled="currentPage > (numPages-2)"
                   ng-click="selectPage(currentPage+1)">&gt;</a>
            </li>

        </ul>
    </div>

</script>