<span style="display:inline-block;">

    <!-- input -->
    <input type="text"
           ng-model="selected"
           placeholder="{{options.placeholder}}"
           uib-typeahead="items as (items[items.$meta.data[namepropIx].field]) for items in sourceP($viewValue)"
           typeahead-loading="loadingLocations"
           typeahead-no-results="noResults"
           typeahead-wait-ms="200"
           typeahead-template-url="rndSearchBox.popup.html"
           typeahead-on-select="onSelectLocal($item, $meta, $label)"
           style="display:inline-block;"
           class="form-control xl search">
    <!-- /input -->

    <!-- lupa -->
    <span class="input-icon">
        <i class="fa fa-search"></i>
    </span>
    <!-- /lupa -->

</span>

<!-- spinner -->
<md-progress-linear ng-if="loadingLocations"
                    md-mode="indeterminate"
                    ng-disabled="true"
                    class="pl-10 pr-10">
</md-progress-linear>
<!-- /spinner -->

<!-- Sin resultados -->
<span ng-if="noResults && !$offline">
    <h5 class="dimmed">
        <span class="mr-5">&empty;</span> No se encontraron resultados
    </h5>
</span>
<!-- /Sin resultados -->

<!-- Offline -->
<div ng-if="$offline">
    <h5 class="m-10 text-danger busy">
        <i class="fa fa-exclamation-triangle"></i> Error de conexión</h5>
</div>
<!-- /Offline -->

<!-- script de popoup-->
<script type="text/ng-template"
        id="rndSearchBox.popup.html">
    <a href
       tabindex="-1"
       ng-attr-title="{{match.label}}">
        <p class="mb-0"
           ng-bind-html="match.label | uibTypeaheadHighlight:query"></p>
        <span class="text-sm text-muted pl-4"
              ng-repeat="m in match.model.$meta.data">
            <span ng-if="!$first">
                <strong>{{m.name}}</strong>: {{match.model[m.field]  | monitor:m:match.model.$meta}}
            </span>
        </span>
    </a>
</script>
<!-- /script de popoup-->