<div ng-if="options.title">
    <p class="text-uppercase text-strong mb-0 custom-font">
        <span>{{options.title}} </span>
    </p>
</div>

<md-progress-linear ng-if="source.busy"
                    md-mode="indeterminate"
                    ng-disabled="true">
</md-progress-linear>

<div class="rnd-b rnd-white">
    <table st-safe-src="source.data"
           st-table="displayedCollection"
           class="st-table table table-striped table-custom headerdark table-bordered inputable {{id}}"
           xxclass="st-table table table-striped table-condensed xtable-bordered hideextra table-custom inputable headerdark dt-responsive dt-right shadow ">
        <thead>
            <tr>
                <th ng-repeat="m in meta | filter: {visible:true}"
                    st-sort="{{m.field}}"
                    style="{{m.length?'':'x-'}}width:{{m.length||1}}%;"
                    class="text-center">
                    {{m.name}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="isLineVisible(fila)"
                st-select-row="dialog.selectRow?fila:''"
                ng-click="selectRow(fila)"
                ng-repeat="fila in displayedCollection track by $index ">
                <td ng-repeat="m in meta | filter: {visible:true}"
                    class="text-{{m | alignment}}"
                    style="vertical-align:middle;">
                    <rnd-input ng-if="!blink || m.readOnly"
                               source="source"
                               line="fila"
                               key="m.field"
                               meta="meta"
                               rtablas="rtablas"
                               dialog="dialog">
                    </rnd-input>
                </td>
            </tr>
        </tbody>
        <tfoot ng-if="!source.$offline">
            <tr>
                <td colspan="500"
                    class="text-center">
                    <div>
                        <h3 ng-if="!source.data.length"
                            class="m-10 text-default lter ">{{options.showEmpty}}</h3>
                        <h4 ng-if="options.canCreate"
                            ng-click="api.addRow()"
                            class="m-5 text-default lter">
                            <i class="fa fa-plus-circle"></i> {{options.textCreate}}</h4>
                    </div>
                </td>
            </tr>
        </tfoot>
        <tfoot ng-if="source.$offline">
            <tr>
                <td colspan="500"
                    class="text-center">
                    <div>
                        <h3 class="m-10 text-danger busy">
                            <i class="fa fa-exclamation-triangle"></i> Error de conexión</h3>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>