<!--<li class="pl-10 pr-10 pt-10">-->
    <div class="btn-group">
        <label 
            class="btn btn-left btn-sm btn-default ng-untouched ng-valid ng-not-empty ng-dirty active mr-0 " 
            ng-model="selected" 
            uib-tooltip="{{profiles.data[0].name}}"
            uib-btn-radio="'{{profiles.data[0].id}}'" 
            ng-click="setProfile(profiles.data[0].id)" 
            aria-invalid="false">
            <fa class="text-default lt" name="{{profiles.data[0].icon}}"></fa>
        </label>
        <label 
            class="btn btn-right btn-sm btn-default ng-untouched ng-valid ng-not-empty ng-dirty active mr-0 " 
            ng-model="selected" 
            uib-tooltip="{{profiles.data[1].name}}"
            uib-btn-radio="'{{profiles.data[1].id}}'"
            ng-click="setProfile(profiles.data[1].id)" 
            aria-invalid="false">
            <fa class="text-default lt" name="{{profiles.data[1].icon}}"></fa>
        </label>
    </div>
<!--</li>-->
